@using (Html.BeginForm())
{
    <body>
        This is Notification view for sending message.
        <dd>

            @*<%= Html.RadioButton("Red", !SendMessageMode.Red) %> Yes
                <%= Html.RadioButton("Blue", SendMessageMode.Blue) %> No
                <%= Html.RadioButton("Green", SendMessageMode.Green) %> No
                <INPUT type="submit" value="SendMessage"> <INPUT type="reset">*@
        </dd>

        <div>
            @*<strong>@Model.SendMessageMode:</strong>*@

            @*@Html.RadioButtonFor(model => SendMessageMode.Red, "BEG")
                @Html.LabelFor(model => SendMessageMode.Red, "Beginner")

                @Html.RadioButtonFor(model => SendMessageMode.Blue, "INT")
                @Html.LabelFor(model => SendMessageMode.Blue, "Intermediate")

                @Html.RadioButtonFor(model => SendMessageMode.Green, "ADV")
                @Html.LabelFor(model => SendMessageMode.Green, "Advanced")*@
        </div>
    </body>
}
